<div class="row">
<div class="container col-xs-10 col-xs-offset-1 div-mate">
<h1 class="heady recipe-head">All Recipes  <%= link_to "", new_recipe_path, :class=>"btn btn-success glyphicon glyphicon-plus add-rec"%></h1>

<ul id="directions">
<% @recipes.each do |c| %>
  <li>

  <h3 id="all-recipe"><%= link_to c.name, c %></h3>



    <!-- <%= link_to "add to cookbook", recipe_favorite_path(c.id), :class=>"btn btn-info" %> -->
  </li>
<% end %>
<ul>

<br>
<br>



</div>
</div>
