<div class="row">
  <div class="container col-xs-10 col-xs-offset-1 div-mate">

    <h1 class="heady recipe-head">About</h1>

    <p class="heady">
      Recimy is an app built with Ruby on Rails that enables users to create their own online cook-book. Once a recipe is uploaded, other users can check it out via the archive or through a category search. See a recipe that looks good? Add it to your cook-book! If you don't see a category that applies to your recipe, feel free to create one that does.

    </p>

    <div class="row">
    <div class="container">
    <div class="col-xs-3">
    <%= image_tag 'rsz_11rsz_pat-prof.jpg', :alt => 'Pat', :id => 'teamPic' %>
    </div>
    <div class="col-xs-3">
    <h2 class="heady">
    <a class="heady" href="http://www.patrickeldridge.com" target="_blank"><i class="fa fa-link"></i></a>&nbsp;
    <a class="heady" href="https://www.linkedin.com/in/thepateldridge" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
    <a class="heady" href="https://github.com/Mistuh-P" target="_blank"><i class="fa fa-github-square"></i></a><h2>
    </div>
    </div>
    </div>

    <p class="heady">
      Patrick is a lifelong musician turned full-stack web developer with a degree in Entrepreneurship. Having a passion for all things creative, he is always looking for opportunities to grow his skill set and help others. Currently available for full-time employment.

    </p>


  </div>
</div>