<div class="row">
<div class="container col-xs-10 col-xs-offset-1 div-mate">
<h1 class="heady cat-head">Create a Category</h1>


<%= bootstrap_form_for @tag do |t| %>
  <%= t.text_field :name, :placeholder =>"Name it!", :class => 'formstyle' %>


  <%= t.primary :class => 'btn btn-success', value: 'Add Category' %>

  <% end %>




</div>
</div>