ul#ingredients {
 /*list-style-type: circle;*/
 list-style-position: outside;
 list-style-image: image_url('rsz_carrot.png');
}


ul#directions {
 /*list-style-type: circle;*/
 list-style-position: outside;
 list-style-image: image_url('rsz_fry-pan.png');
}